header {
    width: 100%;
    height: 60px;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 25%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}